$primary-color: #ff6c6c;
$secondary-color: #657aff;
$tertiary-color: #2a1675;

$font-lg: 2rem;
$font-md: 1.6rem;
$font-sm: 1rem;

@mixin margin-padding($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

.nav {
  @include margin-padding(5px, 5px);
}

.banner,
.footer {
  @include margin-padding(3px, 3px);
}

.nav {
  background-color: $primary-color;
}

.banner h1 {
  font-size: $font-lg;
  color: $secondary-color;
  text-align: center;
}

nav {
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
    font-size: $font-sm;
    color: $secondary-color;
    &:hover {
      color: $tertiary-color;
    }
  }
}

@mixin transition($time...) {
  transition: $time;
}

.footer {
    &:hover {
      color: $primary-color;
      @include transition(.5s);
      background-color: $tertiary-color;
     @include transition(1s);
  }
}

%background-primary {
  background-color: azure;
  color: $primary-color;
  text-align: center;
}

@function increaseFontSize($size) {
  @return ($size * 2);
}

p {
  @extend %background-primary;
  font-size: increaseFontSize($font-sm);
}